<style>
  .auth-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .sign-in-btn{
    margin-right: 10px;
  }
</style>
<div>
  Create an account to get started keeping track of your raspberry pi and other iot devices
</div>
<%= if (current_user) { %>
  <h1><%= current_user.Email %></h1>
  <div>><%= linkTo(authPath(), {data-method: "DELETE"}){ %>Sign Out<% } %></div>
<% } else { %>
  <div><%= linkTo(newAuthPath()){ %>Sign In<% } %></div>
  <div><%= linkTo(newUsersPath()){ %>Register<% } %></div>
<% } %>

